:root {
  color-scheme: dark;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
